@model SneakersApp.Models.ShoesDetailModel;

    <div class="shoes_detail_container">
        <div class="shoes_img_container">
            <img src="@Model.Url" alt="@Model.Title" />
        </div>
        <div class="shoes_infos_container">
            <p>Name: @Model.Title</p>
            <p>Uploaded: @Model.Title</p>
        </div>
        <a asp-controller="Collection" asp-action="Index">Back to home</a>
    </div>