@model SneakersApp.Models.CollectionDetailModel;

    <div class="shoes_detail_container">
        <div class="shoes_infos_container">
            <p>Name: @Model.Title</p>
        </div>
        <a asp-controller="Collection" asp-action="Index" class="btn btn-primary">Back to home</a>
        @foreach (var shoes in Model.Shoes)
        {
            <a asp-controller="Shoe" asp-action="Detail" asp-route-id="@shoes.Id">
                <div class="shoes-image" style="background-image:url(@shoes.Url)"></div>
                <span>@shoes.Title</span>
            </a>
        }
    </div>