@model SneakersApp.Models.CollectionIndexModel

<div class="container body-content">
    <div class="shoes-content">
        @foreach(var collection in Model.Collection)
        {
            <a asp-controller="Collection" asp-action="Detail" asp-route-id="@collection.Id" class="shoes-item col-md-6 col-lg-4">
                @collection.Title
            </a>
        }
    </div>
</div>
