@model SneakersApp.Models.CollectionIndexModel

<div class="container body-content">
    <div class="shoes-content">
        @foreach(var shoes in Model.Shoes)
        {
            <div class="shoes-image" style="background-image:url(@shoes.Url)"></div>
            <span>@shoes.Title</span>
            <ul>
                @foreach (var tag in shoes.Tags)
                {
                <li>
                    @tag.Description
                </li>
                }
            </ul>
        }
    </div>
</div>
