@model SneakersApp.Models.CollectionIndexModel

<div class="container body-content">
    <div class="shoes-content">
        @if(Model.Collection.Any()){
            @foreach(var collection in Model.Collection)
        {
        <a asp-controller="Collection" asp-action="Detail" asp-route-id="@collection.Id">
            @collection.Title
        </a>
        }
        }else{
                 <p>You have 0 created collections.</p>
                <a asp-controller="Collection" asp-action="Create">Create your first collection !</a>
        }
        
    </div>
</div>
