@model SneakersApp.Models.UploadShoeModel;

    <div>
        <!--asp-items="ViewBag.CollectionsID"-->
        @if(Model.Collections.Any()){
        <form asp-action="UploadNewShoe" method="POST" enctype="multipart/form-data" id="upload-form">
            <div class="form-group">
                <label asp-for="Title">Name</label>
                <input class="form-control" asp-for="Title" />
            </div>
            <div class="form-group">
                <label asp-for="Tags">Tags</label>
                <input class="form-control" asp-for="Tags" />
            </div>
            <div class="form-group">
                <label asp-for="CollectionsID" class="control-label">Collection</label>
                <select asp-for="CollectionsID" class="form-control">
                    @foreach (var collection in Model.Collections)
                    {
                    <option value="@collection.Id">
                        @collection.Title
                    </option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label class="form-control-file">
                    Browse for Image
                </label>
                <input type="file" name="file" class="form-control-file"/>
            </div>
            <div>
                <button type="submit" id="btn-upload" class="btn btn-primary">
                    Submit
                </button>
            </div>
        </form>
        }
        else
        {
            <p>Vous n'avez pas encore de collections pour y ajouter vos chaussures.</p>
            <a asp-controller="Collection" asp-action="Create">Créer une collection</a>
        }

    </div>