@model SneakersApp.Models.ShoeIndexModel

    <div class="container body-content">
        <div class="shoes-content">
            @if(Model.Shoes.Any()){
                @foreach(var shoes in Model.Shoes)
                {
                <a asp-controller="Shoe" asp-action="Detail" asp-route-id="@shoes.Id">
                    <div class="shoes-image" style="background-image:url(@shoes.Url)"></div>
                    <span>@shoes.Title</span>
                </a>
                }
            }else{
                <p>You have 0 created shoes.</p>
                <a asp-controller="Shoe" asp-action="Create" class="btn btn-primary">Create your first shoe !</a>
            }
        </div>
    </div>
